/* * {
    box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&display=swap');
html {
    font-family: sans-serif;
    /* background: var(--banner-bg); */
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

body {
  margin: auto;
  padding: 0;
}
section {
    /* border-bottom: 1px solid white; */
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    /* position: relative; */
}
/* h1  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
} */

:root {
  --banner-bg: #233665;
  --color-accent-one: #EB2087;
  --color-accent-two: #8ECFB9;
  --primary: #ffffff;
  --reel: rgba(142, 207, 185, 0.5);
}



.header {
  /* border-bottom: 1px solid white; */
  height: 100vh;
  scroll-snap-align: start;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  background: var(--banner-bg);
}

/* img {
  object-fit: cover;
} */
.container {
  display: flex;
  justify-content: space-between;
  padding: 0 auto;
  position: sticky;
  top: 0;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 8px
}

.links h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #f2f2f2;
}

.links h2, img {
  margin: auto 0;
  padding: 17px
}

section.connect {
  display: grid;
  grid-template-columns: 50% 50%;
  /* flex-wrap: wrap; */
  padding: 0;
  margin: auto;
}

section.showcase {
  display: grid;
  grid-template-columns: auto auto auto;
  /* flex-wrap: wrap; */
  padding: 0;
  margin: auto;
}

.brand-1, .brand-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100vh;
  height: 80vh;
  padding: 4em;
}

.brand-1 h1{
  /* background-color: var(--color-accent-one); */
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.brand-3 {
  display: flex;
  justify-content: flex-start;
}

.brand-3 span{
  margin-right: 5em;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

hr {
  border-top: 1px solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  width: 60%;
  margin-left: 5em;
}

.brand-1 p{
  /* background-color: var(--color-accent-one); */
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.brand-2 h1{
  /* background-color: var(--color-accent-two); */
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.brand-2 p{
  /* background-color: var(--color-accent-one); */
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.blog h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-child {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.grid-child div{
  width: 285px;
  height: 283px;
  background-color: #f2f2f2;
}

.grid-child h1 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
}

.grid-child span {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: left;
}

.contact {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: auto 0;
  padding: 0;
  transition: 0.5s;
}

.thing-1 {
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 70px;
}

.thing-1 div{
  text-align: left;
}

.thing-1 h1{
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: left;
}

.thing-1 span{
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.send {
  border: 2px solid var(--color-accent-two);
  background: var(--primary);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 8px 25px 10px 25px;
}

.text-input {
  padding: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border-style: none;
  background: #f2f2f2;
  text-align: left;
}

.thing-2 {
  background-color: var(--banner-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  color: #fff;
  padding: 20px;
}

.thing-2 div {
  text-align: center;
  line-height: 100%;
  padding: 30px;
}

.thing-2 h4{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: left;
}

.thing-2 p{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
}

.thing-2 hr {
  /* margin-right: 10em; */
}

.rule {
  text-align: left;
  border-top: 2px solid white;
  width: 50%;
  /* margin-left: 30px; */
  line-height: 100%;
  /* text-align: left; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.mails {
}

.bottom {
  line-height: 80%;
}

.object {
  background-color: #D7E0DD;
  padding: 10em;
}

.children {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #f2f2f2;
  padding: 50px;
}

.creative, .some {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100vh;
  height: 100vh;
  padding: inherit;
}

.creative {
  background-color: var(--primary);
  /* margin-right: 20px; */
  /* margin-left: 20%; */
  line-height: 85%;
}

.creative h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.creative p {
  margin-right: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.some {
  background-color: var(--color-accent-one);
}

.showreel {
  height: 100vh;
  background: var(--reel);
  display: flex;
  justify-content: center;
  align-items: center;
}

.showreel h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.started {
  border: 2px solid var(--color-accent-two);
  background: var(--primary);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 15px;
  margin-right: 19em;
}
/*android potraiit adaptive screen*/
/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .header {
      max-width: none;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    max-width: none;
  }
}

/*
Overlay CSS
*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  display: grid;
  grid-template-columns: 95% 5%;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow: hidden;
  transition: 0.5s;
  margin: auto;
  padding: 0;
}

.overlay-content {
  /* position: relative;
  top: 25%; */
  /* width: 100%; */
  display: grid;
  grid-template-columns: 95% 5%;
  text-align: left;
  /* margin-top: 30px; */
  margin: auto;
  padding: 0;
}

.nav-menu-1 {
  /* height: 100vh; */
  /* background: #f2f2f2; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 14px;
  height: 100vh;
  width: 100vh;
  background-color: var(--banner-bg);
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 28px;
  margin-bottom: 10px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
