/* * {
    box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&display=swap');
html {
    font-family: sans-serif;
    background: var(--banner-bg);
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
/* section {
    border-bottom: 1px solid white;
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
} */
/* h1  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
} */

:root {
  --banner-bg: #233665;
  --color-accent-one: #EB2087;
  --color-accent-two: #8ECFB9;
}



.header {
  /* border-bottom: 1px solid white; */
  height: 100vh;
  scroll-snap-align: start;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  background: var(--banner-bg);
}

/* img {
  object-fit: cover;
} */
.container {
  display: flex;
  justify-content: space-between;
  padding: 0 auto;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 8px
}

.links h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #f2f2f2;
}

.links h2, img {
  margin: auto 0;
  padding: 20px
}

.side {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #f2f2f2;
  text-align: center;
}

/*android potraiit adaptive screen*/
/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .header {
      max-width: none;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    max-width: none;
  }
}
